extends layout

block content 
    h1 Remember the passcode so you can join the club!
    button#show Show the passcode
    h1#passcode.hide The passcode is: #{passcode}
    br
    a(href='/') Back to login!

    script(src="/javascripts/secret.js")   
      