extends layout

block content
    h1 Sign Up
    form(action='/sign-up' method='POST')
        div
        label(for='name') Full Name:
        input#name(type='text' name='name')
        div 
        label(for='email') Email:
        input#email(type='text' name='email')
        div
        label(for='password') Password:
        input#password(type='password' name='password')
        div
        label(for='confirmPassword') Confirm Password:
        input#confirmPassword(type='password' name='confirmPassword')
        div
        input(type='submit' value='Sign Up')
    script(src='/javascripts/sign-up.js')